<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963079818473-74u6p54gjikk74v2i3ner2ti9enc9ivv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963079818473-74u6p54gjikk74v2i3ner2ti9enc9ivv</string>
	<key>API_KEY</key>
	<string>AIzaSyD82CBGnRjhELfDZ1p_XhiBc_u0iyn-Jnk</string>
	<key>GCM_SENDER_ID</key>
	<string>963079818473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chul.Hanaroga</string>
	<key>PROJECT_ID</key>
	<string>hanaroga-66192</string>
	<key>STORAGE_BUCKET</key>
	<string>hanaroga-66192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963079818473:ios:e5643f72ff0a3fb3ddf478</string>
</dict>
</plist>